:root {
  font-family: 'Rubik', sans-serif;
  color: #333333;
}

#root,
#root * {
  box-sizing: border-box;
  margin: 0;
}

#root *::selection {
  background-color: #333333;
  color: whitesmoke;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

body {
  max-width: 100vw;
  box-sizing: border-box;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll !important;
  scroll-behavior: smooth;
}

header,
#hero,
#about,
#wid,
#folio,
#tested,
#git,
#pro,
#blog,
footer {
  /* border: 1px solid #44c444; */
}

header {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#hero {
  padding-bottom: 100px;
}

.menu {
  position: relative;
}

@media (orientation: landscape) {
  .menu ul {
    width: 25vw;
    text-align: center;
    align-items: center;
    font-size: 1.2rem;
  }
}

@media (orientation: portrait) {
  .menu ul {
    width: 50vw;
    text-align: center;
    align-items: center;
  }
}

.menu ul {
  position: absolute;
  top: 32px;
  right: 0;
  margin: 0;
  padding: 0;
  background-color: #ffff;
  border: 1px solid #333333;
  list-style: none;
}

.menu ul li {
  width: 100%;
}

.menu ul li a,
.menu ul li:last-child {
  display: inline-block;
  height: 9vh;
  line-height: 9vh;
  margin-bottom: 1vh;
}

.menu ul li a,
.menu ul li a:visited,
.menu ul li a:active {
  color: #333333;
  text-decoration: none;
}

.menu ul li a:hover {
  font-weight: bold;
  display: inline-block;
  width: 100%;
  background-color: #333333;
  color: whitesmoke;
  text-shadow: 0 0 1rem whitesmoke;
}

.menu span {
  display: inline-block;
  padding-right: 16px;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.photo {
  background-image: url('./assets/avava.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.photo img {
  width: 100%;
  height: 100%;
}

#hero .content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 56px;
}

.iconScroll {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0px;
  padding-top: 100px;
}

.scroll {
  text-decoration: none;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 108px;
}

.scroll,
.scroll:visited,
.scroll:hover,
.scroll:active {
  color: #333333;
}

.scroll img {
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
}

.scroll p {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

.media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
}

#hero .media img {
  width: 20px;
  height: 20px;
}

.hello__ {
  display: flex;
  flex-direction: row;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.dash {
  width: 54px;
  height: 39px;
  display: flex;
  align-items: center;
}

.thename {
  font-weight: 500;
  letter-spacing: -.1vw;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search img:hover,
.menu:hover {
  cursor: pointer;
}

#about {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about h2 {
  text-align: center;
}

#about .video {
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./assets/video.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  margin-top: 60px;
}

#wid {
  display: flex;
  align-items: center;
}

#wid h2,
#folio h2,
#tested h2 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
}

#wid .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
}

#wid .card h3 {
  width: 100%;
  text-align: left;
}

#wid .content .card:first-child {
  background: #333333;
  color: #fff;
}

#wid .content .card:nth-child(2),
#wid .content .card:last-child {
  background: #D6D6D6;
  color: #333333;
}

#wid .content .card h3 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 55px;
  word-break: break-all;
}

#wid .content .card p {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

#wid .content .card p:last-of-type {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#wid .content .card img {
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  cursor: pointer;
}

.slider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  position: relative;
}

.slider>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider .arrows {
  position: absolute;
  right: 0;
}

.slider .arrows img {
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  cursor: pointer;
}

.slider .dots img:hover {
  cursor: pointer;
}

.slider .dots {
  width: 108px;
  height: 20px;
}

.slider .dots img:first-of-type {
  width: 20px;
  height: 20px;
}

.slider .dots img:not(:first-of-type) {
  width: 12px;
  height: 12px;
}

#folio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

#folio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#folio .list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0px;
}

#folio .list li {
  cursor: pointer;
}

#folio .list li:first-of-type {
  font-weight: 500;
}

#folio .cases {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.case1 {
  background-image: url('./assets/tile1.jpg');
}

.case2 {
  background-image: url('./assets/tile2.jfif');
}

.case3 {
  background-image: url('./assets/tile3.webp');
}

.case4 {
  background-image: url('./assets/tile4.webp');
}

.case5 {
  background-image: url('./assets/tile5.jpg');
}

.case6 {
  background-image: url('./assets/tile6.jpg');
}

.cases>div {
  display: flex;
  flex-direction: column;
}

.cases>div>div {
  background-repeat: no-repeat;
  background-size: cover;
}

#tested {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tested h2 {
  font-size: 54px;
  line-height: 64px;
}

#tested .client {
  background-image: url('./assets/client.jfif');
  background-repeat: no-repeat;
  background-size: cover;
}

#tested .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#tested .content .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#tested .content .text .slider {
  justify-content: space-between;
}

#tested .content .text {
  width: 100%;
}

#tested .content .text .quote {
  width: 100%;
}

#tested .quote .end {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

#git {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #363434;
}

#git .mediaW {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

#git .mediaW a {
  display: inline-block;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

#pro {
  display: flex;
  align-items: center;
  position: relative;
}

#pro .content {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  z-index: 1;
}

#pro .content>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#blog .content {
  display: flex;
  align-items: flex-start;
}

#blog .content .card {
  display: flex;
  flex-direction: column;
}

#blog .content .card:nth-child(1) .thumb {
  background-image: url('./assets/blog1.jfif');
}

#blog .content .card:nth-child(2) .thumb {
  background-image: url('./assets/blog2.jpg');
}

#blog .content .card:nth-child(3) .thumb {
  background-image: url('./assets/blog3.jpg');
}

#blog .content .card .thumb {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#blog .text {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: #333333;
}

#blog .readMore {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 21px;
  align-items: flex-start;
}

#blog .readMore p {
  padding: 0;
}

#blog .readMore img {
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  cursor: pointer;
  translate: (0, 0);
}

footer {
  /* border: 1px solid #44c444; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer h2 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
}

footer .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .theform input {
  background-color: #333333;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #FFFFFF;
  color: #FFFFFF !important;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

footer .theform input:focus {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  outline: none;
}

footer .theform input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  opacity: 1;
  /* Firefox */
}

footer .theform input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

footer .theform input::-ms-input-placeholder {
  /* Microsoft Edge */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

footer .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer .text .dash {
  display: inline-block;
  position: relative;
  width: 22px;
  height: 0px;
  padding-right: 40px;
}

footer .address>div {
  gap: 10px;
  display: flex;
  flex-direction: row;
}

footer .bottom {
  display: flex;
  align-items: center;
}

footer .media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

footer .media img {
  width: 20px;
  height: 20px;
}

footer .copy {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

footer .bottom {
  max-width: 100%;
}


@media screen and (min-width: 320px) and (max-width: 767px) {

  header {
    padding: 32px 16px;
    height: 102.07px;
  }

  .search {
    display: none;
  }

  .logo {
    height: 38px;
  }

  .logo h1 {
    line-height: 38px;
    font-size: 22px;
  }

  .menu span {
    display: none;
  }

  #hero {
    padding: 33px 16px 100px;
  }

  #hero .content {
    flex-direction: column;
    gap: 56px;
  }

  #hero .text {
    width: 288px;
    height: 252px;
  }

  .iconScroll {
    width: 288px;
    height: 20px;
  }

  .iconScroll .scroll {
    display: none;
  }

  .photo {
    width: 288px;
    height: 280px;
  }

  .iam {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
  }

  .titles,
  .getKnowMe {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

  }

  .media {
    width: 288px;
    width: 100%;
  }

  #about h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
  }

  #about {
    padding: 80px 16px;
  }

  #about .video {
    width: 288px;
    height: 200px;
  }

  #wid h2,
  #folio h2 {
    font-size: 40px;
    line-height: 47px;
  }

  #wid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 16px;
    gap: 60px;
    width: 320px;
    height: 1638px;
  }

  #wid .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 288px;
    height: 1291px;
  }

  #wid .content .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    width: 288px;
    height: 409px;
    padding: 40px 20px;
  }

  #wid .head p {
    padding-top: 20px;
  }

  .slider .arrows {
    display: none;
  }

  .slider {
    gap: 0;
  }

  #folio {
    flex-direction: column;
    padding: 80px 20px;
    width: 320px;
    height: 1907px;
  }

  #folio .list {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 280px;
    height: 140px;
  }

  .desk {
    display: none;
  }

  #folio .cases {
    padding: 0px;
    gap: 32px;
    width: 280px;
    height: 1360px;
  }

  .cases>div>div {
    width: 280px;
    height: 200px;
  }

  .col1,
  .col2,
  .col3 {
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: 280px;
    height: 432px;
  }

  #tested h2 {
    font-size: 40px;
    line-height: 47px;
  }

  #tested {
    padding: 80px 16px;
    gap: 100px;
    width: 320px;
    height: 1164px;
  }

  #tested .client {
    padding: 40px;
    gap: 60px;
    width: 288px;
    height: 360px;
  }

  #tested .content {
    flex-direction: column;
    padding: 0px;
    gap: 60px;
    width: 288px;
    height: 810px;
  }

  #tested .content .text {
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 288px;
    height: 390px;
  }

  #tested .content .text .quote img {
    width: 60px;
    height: 52.5px;
  }

  #tested .quote p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
  }

  #tested .name {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
  }

  #tested .proff {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }

  #git {
    padding: 80px 16px;
    gap: 80px;
    width: 100%;
    height: 526px;
    position: relative;
  }

  #git .hello_bg {
    display: none;
  }

  #git .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 288px;
    height: 109px;
    z-index: 1;
    color: #fff;
  }

  #git .git {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
  }

  #git .sayHello {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
  }

  #git > a > button {
    padding: 20px 40px;
    width: 185px;
    height: 73px;
    background: #FFFFFF;
    z-index: 2;
    border: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #363434;
  }

  #git .mediaW {
    padding: 0px;
    gap: 12px;
    width: 288px;
    height: 24px;
  }

  #git .mediaW a > img {
    width: 24px;
    height: 24px;
  }

  #pro {
    padding: 80px 20px;
    gap: 80px;
    width: 320px;
    height: 600px;
  }

  #pro .project {
    display: none;
  }

  #pro .content {
    flex-direction: column;
    padding: 0px;
    gap: 40px;
    width: 280px;
    height: 440px;
  }

  #pro .content>div {
    padding: 0px;
    gap: 12px;
    width: 280px;
    height: 80px;
  }

  #pro .num {
    font-size: 40px;
    line-height: 47px;
  }

  #pro .text {
    font-size: 18px;
    line-height: 21px;
  }

  #blog {
    padding: 80px 20px;
    gap: 60px;
    width: 320px;
    height: 2160px;
  }

  #blog h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
  }

  #blog .content {
    flex-direction: column;
    padding: 0px;
    gap: 32px;
    width: 280px;
    height: 1813px;
  }

  #blog .content .card {
    padding: 0px;
    width: 280px;
    height: 583px;
  }

  #blog .content .card .thumb {
    padding: 20px;
    gap: 60px;
    width: 280px;
    height: 337px;
  }

  #blog .text {
    padding: 20px;
    gap: 60px;
    width: 280px;
    height: 246px;
  }

  #blog .text .spans {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    width: 240px;
    height: 17px;
  }

  #blog .spans span {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  #blog .text p {
    width: 240px;
    height: 48px;
    font-size: 20px;
    line-height: 24px;
  }

  #blog .text .readMore {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 177px;
    height: 21px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }

  footer {
    padding: 100px 16px 32px;
    gap: 60px;
    width: 320px;
    height: 1350px;
  }

  footer h2 {
    font-size: 40px;
    line-height: 47px;
    text-align: left;
  }

  footer .form {
    padding: 0px;
    gap: 40px;
    width: 288px;
    height: 1097px;
  }

  footer .bottom {
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    gap: 24px;
    width: 728px;
    height: 61px;
  }

  footer .media {
    padding: 0px;
    gap: 40px;
    width: 288px;
    height: 20px;
  }

  footer .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 60px;
    width: 288px;
    height: 869px;
  }

  footer .text {
    padding: 0px;
    gap: 60px;
    width: 288px;
    height: 268px;
  }

  footer .text p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
  }

  footer .text div:not(:last-child) .dash::after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 22px;
    height: 0px;
    border: 1px solid #333333;
    top: 10px;
  }

  footer .text .dash::after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 22px;
    height: 0px;
    border: 1px solid #333333;
    top: 20px;
  }

  footer .address div.p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
  }

  footer .theform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;
    gap: 20px;
    width: 288px;
    height: 541px;
    background: #333333;
  }

  footer .fields {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 20px;
    width: 248px;
    height: 381px;
  }

  footer .inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 60px;
  }

  footer .fields input:not(.desc) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 8px;
    width: 248px;
    height: 25px;
  }

  footer .desc {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 40px;
    width: 248px;
    height: 57px;
  }

  button {
    width: 116px;
    height: 49px;
  }
}

@media screen and (min-width: 768px) {
  .search {
    display: flex;
  }

  header {
    height: 133px;
  }

  .logo {
    height: 60px;
  }

  .logo h1 {
    line-height: 45px;
    font-size: 40px;
  }

  .menu span {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
  }

  .mob {
    display: none;
  }

  #tested .content .text .quote img {
    width: 78.12px;
    height: 68.36px;
  }

  #git .mediaW a > img {
    width: 32px;
    height: 32px;
  }

}


@media screen and (min-width: 768px) and (max-width: 1151px) {

  header {
    padding: 32px 20px;
  }

  #hero {
    flex-direction: column;
    padding: 77px 20px 100px;
    gap: 56px;
  }

  .photo {
    width: 728px;
    height: 459px;
  }

  #hero .content {
    flex-direction: column;
    gap: 56px;
  }

  #hero .text {
    width: 728px;
    height: 337px;
  }

  .iconScroll {
    width: 728px;
  }

  .iconScroll .scroll {
    display: none;
  }

  .hello__ {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 39px;
  }

  .iam {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 74px;
    line-height: 88px;
  }

  .titles {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
  }

  .getKnowMe {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }

  .media {
    width: 100%;
    height: 20px;
  }

  #about h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
  }

  #about {
    padding: 100px 20px;
  }

  #about .video {
    width: 728px;
    height: 715px;
  }

  #wid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
    gap: 60px;
    width: 768px;
    height: 1695px;
  }

  #wid h2,
  #folio h2 {
    font-size: 54px;
    line-height: 64px;
  }

  #wid .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 728px;
    height: 1291px;
  }

  #wid .content .card {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: flex-start;
    gap: 60px;
    width: 728px;
    height: 409px;
    padding: 20px 40px;
  }

  #wid .head p {
    padding-top: 20px;
  }

  #folio {
    padding: 100px 20px;
    width: 768px;
    height: 3795px;
  }

  #folio .list {
    width: 532px;
    height: 21px;
  }

  #folio .cases {
    padding: 0px;
    gap: 32px;
    width: 728px;
    height: 3310px;
  }

  .cases>div>div {
    padding: 40px;
    gap: 60px;
    width: 728px;
    height: 520px;
  }

  .col1,
  .col2,
  .col3 {
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 728px;
    height: 1082px;
  }

  .slider {
    width: 728px;
    height: 20px;
  }

  #tested {
    padding: 100px 20px;
    gap: 100px;
    width: 768px;
    height: 1309.72px;
  }

  #tested .client {
    padding: 40px;
    gap: 60px;
    width: 377px;
    height: 434px;
  }

  #tested .content {
    flex-direction: column;
    padding: 0px;
    gap: 60px;
    width: 728px;
    height: 945.72px;
  }

  #tested .content .text {
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 728px;
    height: 451.72px;
  }

  #tested .quote p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
  }

  #tested .name {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
  }

  #tested .proff {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }

  #git {
    padding: 100px 20px;
    gap: 80px;
    /* width: 768px; */
    width: 100%;
    height: 591px;
  }

  #git .hello_bg {
    position: absolute;
    width: 742px;
    height: 308px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 260px;
    line-height: 308px;
    letter-spacing: 0.13em;
    color: #3A3A3A;
    z-index: 0;
  }

  #git .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 372px;
    height: 126px;
    z-index: 1;
    color: #fff;
  }

  #git .git {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
  }

  #git .sayHello {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 64px;
  }

  #git > a > button {
    padding: 20px 40px;
    width: 185px;
    height: 73px;
    background: #FFFFFF;
    z-index: 2;
    border: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #363434;
  }

  #git .mediaW {
    padding: 0px;
    gap: 56px;
    width: 728px;
    height: 32px;
  }

  #pro {
    padding: 100px 20px;
    gap: 80px;
    width: 768px;
    height: 280px;
  }

  #pro .project {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 210px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 177px;
    line-height: 210px;
    letter-spacing: 0.13em;
    color: #F1F1F1;
  }

  #pro .content {
    flex-direction: row;
    padding: 0px;
    width: 728px;
    height: 80px;
  }

  #pro .content>div {
    padding: 0px;
    gap: 12px;
    width: 182px;
    height: 80px;
  }

  #pro .num {
    font-size: 40px;
    line-height: 47px;
  }

  #pro .text {
    font-size: 18px;
    line-height: 21px;
  }

  #blog {
    padding: 100px 20px;
    gap: 60px;
    width: 768px;
    height: 2157px;
  }

  #blog h2 {
    font-weight: 500;
    font-size: 54px;
    line-height: 64px;
  }

  #blog .content {
    flex-direction: column;
    padding: 0px;
    gap: 32px;
    width: 728px;
    height: 1753px;
  }

  #blog .content .card {
    padding: 0px;
    width: 728px;
    height: 563px;
  }

  #blog .content .card .thumb {
    padding: 20px;
    gap: 60px;
    width: 728px;
    height: 337px;
  }

  #blog .text {
    padding: 20px;
    gap: 60px;
    width: 728px;
    height: 226px;
  }

  #blog .text .spans {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 688px;
    height: 17px;
  }

  #blog .spans span {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  #blog .text p {
    width: 688px;
    height: 28px;
    font-size: 24px;
    line-height: 28px;
  }

  #blog .text .readMore {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 177px;
    height: 21px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }

  footer {
    padding: 100px 20px 32px;
    gap: 60px;
    width: 768px;
    height: 1282px;
  }

  footer h2 {
    text-align: left;
    font-size: 54px;
    line-height: 64px;
  }

  footer .form {
    padding: 0px;
    gap: 40px;
    width: 728px;
    height: 1029px;
  }

  footer .bottom {
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    gap: 56px;
    width: 1088px;
    height: 20px;
  }

  footer .media {
    padding: 0px;
    gap: 80px;
    width: 420px;
    height: 20px;
  }

  footer .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 60px;
    width: 728px;
    height: 861px;
  }

  footer .text {
    padding: 0px;
    gap: 60px;
    width: 728px;
    height: 260px;
  }

  footer .text p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 36px;
  }

  footer .text div:not(:last-child) .dash::after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 22px;
    height: 0px;
    top: 12px;
    border: 1px solid #333333;
  }

  footer .text .dash::after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 22px;
    height: 0px;
    border: 1px solid #333333;
    top: 22px;
  }

  footer .address div.p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
  }

  footer .theform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 60px;
    gap: 20px;
    width: 728px;
    height: 541px;
    background: #333333;
  }

  footer .fields {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 80px 60px;
    gap: 20px;
    width: 728px;
    height: 541px;
  }

  footer .inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 60px;
  }

  footer .fields input:not(.desc) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 8px;
    gap: 20px;
    width: 608px;
    height: 25px;
  }

  footer .desc {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 40px;
    gap: 20px;
    width: 608px;
    height: 57px;
  }

  button {
    width: 116px;
    height: 49px;
  }
}


@media screen and (min-width: 1152px) {
  header {
    padding: 32px;
  }

  #pro .num {
    font-size: 64px;
    line-height: 76px;
  }

  #pro .text {
    font-size: 24px;
    line-height: 28px;
  }

}



@media screen and (min-width: 1152px) and (max-width: 1439px) {
  header {
    padding: 32px;
  }

  #hero {
    padding: 77px 32px 100px;
    padding-bottom: 200px;
  }

  .photo {
    width: 434px;
    height: 459px;
  }

  #hero .content {
    flex-direction: row;
    gap: 56px;
  }

  #hero .text {
    width: 598px;
    height: 472px;
  }

  .iconScroll {

    width: 1088px;
    height: 65px;
  }

  .iconScroll .scroll {
    display: block;
  }

  .hello__ {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 39px;
  }

  .iam {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 74px;
    line-height: 88px;
  }

  .titles {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
  }

  .getKnowMe {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }

  #about h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
  }

  #about {
    padding: 140px 32px;
  }

  #about .video {
    width: 288px;
    height: 200px;
  }

  #about .video {
    width: 1088px;
    height: 715px;
  }

  #wid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 140px 32px;
    gap: 60px;
    width: 1152px;
    height: 893px;
  }

  #wid h2,
  #folio h2 {
    font-size: 54px;
    line-height: 64px;
  }

  #wid .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 1088px;
    height: 409px;
  }

  #wid .content .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px !important;
    gap: 60px;
    width: 341.33px;
    height: 409px;
    padding: 20px 40px;
  }

  #wid .head p {
    padding-top: 20px;
  }

  #folio {
    padding: 140px 32px;
    width: 1152px;
    height: 1647px;
  }

  #folio .list {
    width: 532px;
    height: 21px;
  }

  #folio .cases {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 1088px;
    height: 1082px;
  }

  .cases>div>div {
    padding: 40px;
    gap: 60px;
    width: 341.33px;
  }

  .case1,
  .case2 {
    flex: 1;
  }

  .case3,
  .case6 {
    flex: 2;
  }

  .case4,
  .case5 {
    flex: 1;
  }

  .col1,
  .col2,
  .col3 {
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 341.33px;
    height: 1082px;
  }

  .slider {
    width: 1088px;
    height: 20px;
  }

  #tested {
    padding: 140px 32px;
    gap: 100px;
    width: 1152px;
    height: 1033px;
  }

  #tested .client {
    padding: 40px;
    gap: 60px;
    width: 486px;
    height: 589px;
  }

  #tested .content {
    flex-direction: row;
    padding: 0px;
    gap: 60px;
    width: 1088px;
    height: 589px;
  }

  #tested .content .text {
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 542px;
    height: 589px;
  }

  #tested .quote p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
  }

  #tested .name {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
  }

  #tested .proff {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }

  #git {
    padding: 100px 32px;
    gap: 80px;
    /* width: 1152px; */
    width: 100%;
    height: 591px;
  }

  #git .hello_bg {
    position: absolute;
    width: 1039px;
    height: 431px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 364px;
    line-height: 431px;
    letter-spacing: 0.13em;
    color: #3A3A3A;
    z-index: 0;
  }

  #git .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 372px;
    height: 126px;
    z-index: 1;
    color: #fff;
  }

  #git .git {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
  }

  #git .sayHello {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 64px;
  }

  #git > a > button {
    padding: 20px 40px;
    width: 185px;
    height: 73px;
    background: #FFFFFF;
    z-index: 2;
    border: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #363434;
  }

  #git .mediaW {
    padding: 0px;
    gap: 56px;
    width: 1088px;
    height: 32px;
  }

  #pro {
    flex-direction: row;
    padding: 200px 32px;
    gap: 80px;
    width: 1152px;
    height: 516px;
  }

  #pro .project {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 252px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 213px;
    line-height: 252px;
    letter-spacing: 0.13em;
    color: #F1F1F1;
  }

  #pro .content {
    flex-direction: row;
    padding: 0px;
    width: 1088px;
    height: 116px;
  }

  #pro .content>div {
    padding: 0px;
    gap: 12px;
    width: 272px;
    height: 116px;
  }

  #blog {
    padding: 140px 32px;
    gap: 60px;
    width: 1152px;
    height: 1075px;
  }

  #blog h2 {
    font-weight: 500;
    font-size: 54px;
    line-height: 64px;
  }

  #blog .content {
    flex-direction: row;
    padding: 0px;
    gap: 32px;
    width: 1088px;
    height: 591px;
  }

  #blog .content .card {
    padding: 0px;
    width: 341.33px;
    height: 591px;
  }

  #blog .content .card .thumb {
    padding: 20px;
    gap: 60px;
    width: 341.33px;
    height: 337px;
  }

  #blog .text {
    padding: 20px;
    gap: 60px;
    width: 341.33px;
    height: 254px;
  }

  #blog .text .spans {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 301.33px;
    height: 17px;
  }

  #blog .spans span {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  #blog .text p {
    width: 301.33px;
    height: 56px;
    font-size: 24px;
    line-height: 28px;
  }

  #blog .text .readMore {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 301.33px;
    height: 21px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }

  footer {
    padding: 140px 32px 40px;
    gap: 140px;
    width: 1152px;
    height: 1025px;
  }

  footer h2 {
    text-align: center;
    font-size: 54px;
    line-height: 64px;
  }

  footer .form {
    padding: 0px;
    gap: 80px;
    width: 1088px;
    height: 685px;
  }

  footer .bottom .copy {
    width: 900px;
  }

  footer .bottom {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0px;
    gap: 56px;
    width: 1088px;
    height: 20px;
  }

  footer .media {
    padding: 0px;
    gap: 80px;
    width: 420px;
    height: 20px;
  }

  footer .top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 150px;
    width: 1088px;
    height: 541px;
  }

  footer .text {
    justify-content: space-between;
    padding: 60px 0px 0px;
    gap: 150px;
    width: 433px;
    height: 541px;
  }

  footer .text p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 36px;
  }

  footer .text div:not(:last-child) .dash::after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 22px;
    height: 0px;
    top: 12px;
    border: 1px solid #333333;
  }

  footer .text .dash::after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 22px;
    height: 0px;
    border: 1px solid #333333;
    top: 22px;
  }

  footer .address div.p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
  }

  footer .theform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 60px;
    gap: 20px;
    width: 505px;
    height: 541px;
    background: #333333;
  }

  footer .fields {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 80px 60px;
    gap: 20px;
    width: 505px;
    height: 541px;
  }

  footer .inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 60px;
  }

  footer .fields input:not(.desc) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 8px;
    gap: 20px;
    width: 385px;
    height: 25px;
  }

  footer .desc {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 40px;
    gap: 20px;

    width: 385px;
    height: 57px;
  }

  button {
    width: 116px;
    height: 49px;
  }

}

@media screen and (min-width: 1440px) {

  .photo {
    width: 550px;
    height: 640px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
  header {
    padding: 32px;
  }

  #hero {
    padding: 77px 32px 100px;
    padding-bottom: 200px;
  }

  .photo {
    width: 550px;
    height: 640px;
  }

  #hero .content {
    flex-direction: row;
    gap: 56px;
  }

  #hero .text {
    width: 770px;
    height: 640px;
  }

  .iconScroll {
    width: 1376px;
    height: 65px;

  }

  .iconScroll .scroll {
    display: block;
  }

  .hello__ {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 39px;
  }

  .iam {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 74px;
    line-height: 88px;
  }

  .titles {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
  }

  .getKnowMe {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }

  #about h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
  }

  #about {
    padding: 140px 32px;
  }

  #about .video {
    width: 1262px;
    height: 715px;
  }

  #wid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 140px 32px;
    gap: 60px;
    width: 1440px;
    height: 893px;
  }

  #wid h2,
  #folio h2 {
    font-size: 54px;
    line-height: 64px;
  }

  #wid .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 1376px;
    height: 409px;
  }

  #wid .content .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 409px;
    padding: 78px 40px;
  }

  #wid .head p {
    padding-top: 20px;
  }

  #folio {
    padding: 140px 32px;
    width: 1440px;
    height: 1647px;
  }

  #folio .list {
    width: 532px;
    height: 21px;
  }

  #folio .cases {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 1376px;
    height: 1082px;
  }

  .cases>div>div {
    padding: 40px;
    gap: 60px;
    width: 437.33px;
  }

  #folio .cases {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 32px;
    width: 1376px;
    height: 1082px;
  }

  .cases>div>div {
    padding: 40px;
    gap: 60px;
    width: 437.33px;
  }

  .case1,
  .case2 {
    flex: 1;
  }

  .case3,
  .case6 {
    flex: 2;
  }

  .case4,
  .case5 {
    flex: 1;
  }

  .col1,
  .col2,
  .col3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 437.33px;
    height: 1082px;
  }

  .slider {
    width: 1262px;
    height: 20px;
  }

  #tested {
    padding: 140px 32px;
    gap: 100px;
    width: 1440px;
    height: 1033px;
  }

  #tested .client {
    padding: 40px;
    gap: 60px;
    width: 486px;
    height: 589px;
  }

  #tested .content {
    flex-direction: row;
    padding: 0px;
    gap: 100px;
    width: 1376px;
    height: 589px;
  }

  #tested .content .text {
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 790px;
    height: 589px;
  }

  #tested .quote p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
  }

  #tested .name {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
  }

  #tested .proff {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }

  #git {
    padding: 100px 32px;
    gap: 80px;
    width: 100%;
    height: 591px;
  }

  #git .hello_bg {
    position: absolute;
    width: 1279px;
    height: 531px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 448px;
    line-height: 531px;
    letter-spacing: 0.13em;
    color: #3A3A3A;
    z-index: 0;
  }

  #git .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 372px;
    height: 126px;
    z-index: 1;
    color: #fff;
  }

  #git .git {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
  }

  #git .sayHello {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 64px;
  }

  #git > a > button {
    padding: 20px 40px;
    width: 185px;
    height: 73px;
    background: #FFFFFF;
    z-index: 2;
    border: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #363434;
  }

  #git .mediaW {
    padding: 0px;
    gap: 56px;
    width: 1376px;
    height: 32px;
  }

  #pro {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 200px 0;
    gap: 80px;
    width: 1440px;
    height: 516px;
  }

  #pro .project {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 314px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 265px;
    line-height: 314px;
    letter-spacing: 0.13em;
    color: #F1F1F1;
  }

  #pro .content {
    flex-direction: row;
    padding: 0px;
    width: 1262px;
    height: 116px;
  }

  #pro .content>div {
    padding: 0px;
    gap: 12px;
    width: 315.5px;
    height: 116px;
  }

  #blog {
    padding: 140px 32px;
    gap: 60px;
    width: 1440px;
    height: 1075px;
  }

  #blog h2 {
    font-weight: 500;
    font-size: 54px;
    line-height: 64px;
  }

  #blog .content {
    justify-content: space-between;
    padding: 0px;
    gap: 32px;
    width: 1376px;
    height: 591px;
  }

  #blog .content .card {
    padding: 0px;
    width: 380px;
    height: 591px;
  }

  #blog .content .card .thumb {
    padding: 20px;
    gap: 60px;
    width: 380px;
    height: 337px;
  }

  #blog .text {
    padding: 20px;
    gap: 60px;
    width: 380px;
    height: 254px;
  }

  #blog .text .spans {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 340px;
    height: 17px;
  }

  #blog .spans span {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  #blog .text p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 340px;
    height: 56px;
  }

  #blog .text .readMore {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 340px;
    height: 21px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
  }

  footer {
    padding: 140px 32px 40px;
    gap: 200px;
    width: 1440px;
    height: 1085px;
  }

  footer h2 {
    text-align: center;
    font-size: 54px;
    line-height: 64px;
  }

  footer .form {
    padding: 0px;
    gap: 80px;
    width: 1376px;
    height: 685px;
  }

  footer .bottom {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0px;
    gap: 56px;
    width: 1376px;
    height: 20px;
  }

  footer .media {
    padding: 0px;
    gap: 80px;
    width: 420px;
    height: 20px;
  }

  footer .top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 150px;
    width: 1376px;
    height: 541px;
  }

  footer .text {
    justify-content: space-between;
    padding: 60px 0px 0px;
    gap: 150px;
    width: 721px;
    height: 541px;
  }

  footer .text p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 52px;
  }

  footer .text div:not(:last-child) .dash::after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 22px;
    height: 0px;
    top: 12px;
    border: 1px solid #333333;
  }

  footer .text .dash::after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 22px;
    height: 0px;
    border: 1px solid #333333;
    top: 22px;
  }

  footer .address div.p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
  }

  footer .theform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 60px;
    gap: 20px;
    width: 505px;
    height: 541px;
    background: #333333;
  }

  footer .fields {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 80px 60px;
    gap: 20px;
    width: 505px;
    height: 541px;
  }

  footer .inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 60px;
  }

  footer .fields input:not(.desc) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 8px;
    gap: 20px;
    width: 385px;
    height: 25px;
  }

  footer .desc {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 40px;
    gap: 20px;
    width: 385px;
    height: 57px;
  }

  button {
    width: 116px;
    height: 49px;
  }

}

@media screen and (min-width: 1920px) {
  header {
    padding: 32px 200px;
  }

  #hero {
    padding: 77px 32px 100px;
    padding-bottom: 200px;
  }

  .photo {
    width: 550px;
    height: 640px;
  }

  #hero .content {
    flex-direction: row;
    gap: 56px;
  }

  #hero .text {
    width: 899px;
    height: 640px;

  }

  .iconScroll {
    width: 1520px;
    height: 65px;
  }

  .iconScroll .scroll {
    display: block;
  }

  .hello__ {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 39px;
  }

  .iam {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 74px;
    line-height: 88px;
  }

  .titles {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
  }

  .getKnowMe {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }

  #about h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
  }

  #about {
    padding: 140px 200px;
  }

  #about .video {
    width: 1262px;
    height: 715px;
  }

  #wid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 140px 200px;
    gap: 60px;
    width: 1920px;
    height: 893px;
  }

  #wid h2,
  #folio h2 {
    font-size: 54px;
    line-height: 64px;
  }

  #wid .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 1262px;
    height: 409px;
  }

  #wid .content .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 409px;
  }


  #wid .content .card .head {
    gap: 20px !important;
    display: flex;
    flex-direction: column;
  }

  #folio {
    padding: 140px 200px;
    width: 1920px;
    height: 1647px;
  }

  #folio .list {
    width: 532px;
    height: 21px;
  }

  #folio .cases {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 1520px;
    height: 1082px;
  }

  .cases>div>div {
    padding: 40px;
    gap: 60px;
    width: 485.33px;
  }

  .case1,
  .case2 {
    flex: 1;
  }

  .case3,
  .case6 {
    flex: 2;
  }

  .case4,
  .case5 {
    flex: 1;
  }

  .col1,
  .col2,
  .col3 {
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 437.33px;
    height: 1082px;
  }

  .slider {
    width: 1262px;
    height: 20px;
  }

  #tested {
    padding: 140px 200px;
    gap: 100px;
    width: 1920px;
    height: 1033px;
  }

  #tested .client {
    padding: 40px;
    gap: 60px;
    width: 486px;
    height: 589px;
  }

  #tested .content {
    flex-direction: row;
    padding: 0px;
    gap: 100px;
    width: 1520px;
    height: 589px;
  }

  #tested .content .text {
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 934px;
    height: 589px;
  }

  #tested .quote p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
  }

  #tested .name {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
  }

  #tested .proff {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }

  #git {
    padding: 100px 0;
    gap: 80px;
    width: 100% !important;
    height: 591px;
  }

  #git .hello_bg {
    position: absolute;
    width: 1541px;
    height: 640px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 540px;
    line-height: 640px;
    letter-spacing: 0.13em;
    color: #3A3A3A;
    z-index: 0;
  }

  #git .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 372px;
    height: 126px;
    z-index: 1;
    color: #fff;
  }

  #git .git {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
  }

  #git .sayHello {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 64px;
  }

  #git > a > button {
    padding: 20px 40px;
    width: 185px;
    height: 73px;
    background: #FFFFFF;
    z-index: 2;
    border: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #363434;
  }

  #git .mediaW {
    padding: 0px;
    gap: 56px;
    width: 1520px;
    height: 32px;
  }

  #pro {
    flex-direction: row;
    padding: 200px 0;
    gap: 80px;
    width: 1920px;
    height: 516px;
    align-items: center;
    justify-content: center;
  }

  #pro .project {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 356px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 300px;
    line-height: 356px;
    letter-spacing: 0.13em;
    color: #F1F1F1;
  }

  #pro .content {
    flex-direction: row;
    padding: 0px;
    width: 1262px;
    height: 116px;
  }

  #pro .content>div {
    padding: 0px;
    gap: 12px;
    width: 315.5px;
    height: 116px;
  }

  #blog {
    padding: 140px 200px;
    gap: 60px;
    width: 1920px;
    height: 1075px;
  }

  #blog h2 {
    font-weight: 500;
    font-size: 54px;
    line-height: 64px;
  }

  #blog .content {
    justify-content: space-between;
    padding: 0px;
    gap: 32px;
    width: 1262px;
    height: 591px;
  }

  #blog .content .card {
    padding: 0px;
    width: 380px;
    height: 591px;
  }

  #blog .content .card .thumb {
    padding: 20px;
    gap: 60px;
    width: 380px;
    height: 337px;
  }

  #blog .text {
    padding: 20px;
    gap: 60px;
    width: 380px;
    height: 254px;
  }

  #blog .text .spans {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 340px;
    height: 17px;
  }

  #blog .spans span {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  #blog .text p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 340px;
    height: 56px;
  }

  #blog .text .readMore {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 340px;
    height: 21px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
  }

  footer {
    padding: 140px 200px 40px;
    gap: 200px;
    width: 1920px;
    height: 1090px;
  }

  footer .form {
    padding: 0px;
    gap: 80px;
    width: 1262px;
    height: 690px;
  }

  footer h2 {
    text-align: center;
    font-size: 54px;
    line-height: 64px;
  }

  footer .bottom {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0px;
    gap: 56px;
    width: 1520px;
    height: 20px;
  }

  footer .media {
    padding: 0px;
    gap: 80px;
    width: 420px;
    height: 20px;
  }

  footer .top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 150px;
    width: 1262px;
    height: 546px;
  }

  footer .text {
    justify-content: space-between;
    padding: 60px 0px 0px;
    gap: 150px;
    width: 607px;
    height: 546px;
  }

  footer .text div:not(:last-child) .dash::after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 22px;
    height: 0px;
    top: 12px;
    border: 1px solid #333333;
  }

  footer .text .dash::after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 22px;
    height: 0px;
    border: 1px solid #333333;
    top: 22px;
  }

  footer .text p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 52px;
  }

  footer .address div.p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
  }

  footer .theform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 60px;
    gap: 20px;
    width: 505px;
    height: 541px;
    background: #333333;
  }

  footer .fields {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 80px 60px;
    gap: 20px;
    width: 505px;
    height: 541px;
  }

  footer .inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 60px;
  }

  footer .fields input:not(.desc) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 8px;
    gap: 20px;
    width: 385px;
    height: 25px;
  }

  footer .desc {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 40px;
    gap: 20px;

    width: 385px;
    height: 57px;
  }

  button {
    width: 116px;
    height: 49px;
  }

}